<div class="well shibboleth-login">
  <p class="hint"><%=t :sessions_shibboleth_aalto_hint %></p>

  <%= link_to t(:shibboleth_aalto_button), SHIB_AALTO_PATH + shibboleth_session_url(:protocol => 'https'), :class => 'btn btn-primary btn-large' %>
</div>

