<div class="well">
  <p class="hint"><%=t :sessions_shibboleth_hint %></p>

  <%= link_to SHIB_PATH + shibboleth_session_url(:protocol => 'https') do
    image_tag('haka_portrait_large.gif', {:alt => '[Haka Login]'})
  end %>
</div>
