<div class="page-header">
  <h1><%=t :sessions_login_heading %></h1>
</div>

<div class="row">
  <div class="span4">
    <%= render :partial => 'login' %>
  </div>
  <div class="span4">
    <%= render :partial => 'shibboleth' %>
  </div>
</div>
