<% content_for :javascript do %>
  <%= javascript_include_tag 'assignmentEditor.js' %>
<% end %>

<div class="page-header">
  <h1><%= "#{@course.code} #{@course.name} - #{@course_instance.name}" %></h1>
</div>

<div id="groups" data-url="<%= course_instance_groups_path(@course_instance) %>">
  <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody data-bind="foreach: groups">
      <tr>
        <td data-bind="foreach: students">
          <span data-bind="text: name">
        </td>
      </tr>
    </tbody>
  </table>

</div>
