/*
 * Rubyric logo font: LMSans10 Bold Italic
 */

body {
  background: #F0F8FF;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

div.content {
  margin: 0px;
  padding: 10px;
}

img {
  border: none;
}

td.trash {
  width: 3em;
  text-align: right;
}


div.clear {
  clear: both;
}

div.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.sub {
  vertical-align: sub;
  font-size: 60%;
}

/******************
 * Header
 ******************/

div.header {
  position: relative;
  background: #A4D3EE;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 10px 10px 0pc 10px;
}

div.header #logo {
  display: block;
  margin: 0px auto 2em auto;

  /* background: url("/aloha/images/rubyric.png"); */
}

div.header .login {
  text-align: right;
  position: absolute;
  bottom: 4px;
  right: 10px;
}

div.header .breadcrumbs {
  position: absolute;
  bottom: 4px;
  left: 10px;
}

/******************
 * Links
 ******************/

a {
  color: #00154c;
}

a:visited {
  color: #324065;
}

a.new, .new {
  color: green;
  font-size: .9em;
  font-variant: small-caps;
}

.button {
  background: #D0D0D0;
  border: 3px groove gray;
  text-decoration: none;
  padding: .2em
}


/******************
 * Headings
 ******************/

h1 {
  font-size: 130%;
}

h1 a {
  font-size: .7em;
  font-weight: normal;
  font-variant: small-caps;
}

h2 {
  font-size: 100%;
  margin-top: 2em;
}

h3 {
  font-size: 100%;
}

/******************
 * Flash messages
 ******************/

.flash {
  padding: 4px;
  margin: .6em 0em;
  -moz-border-radius: 6px;
}

.flashMessage { /* Deprecated */
  color: black;
  background: #FFFFBB;
  border: 1px solid #808000;
}

.flashWarning {
  color: black;
  background: #FFFFBB;
  border: 1px solid #808000;
}

.flashSuccess {
  color: black;
  background: #BBFFBB;
  border: 1px solid #008000;
}

.flashError {
  color: black;
  background: #FFBBBB;
  border: 1px solid #B00000;
}

#helpBox {
  float: left;
  color: black;
  background: #FFFFBB;
  border: 1px solid #808000;
}

/******************
 * Breadcrumbs
 ******************/

.breadcrumbs ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.breadcrumbs li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.breadcrumbs li:before {
  content: " :: ";
}

.breadcrumbs li.first:before {
  content: "";
}

.breadcrumbs a {
  text-decoration: none;
  color: #00154c;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}


/******************
 * Tables
 ******************/

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

thead {
  font-style: italic;
}

thead td {
  /*border-bottom: 1px solid gray;*/
}


/***********************************
 * Feedback editor (assistant view)
 ***********************************/

.feedback-editor {
  margin-right: 31em;
}

.feedback-editor .phrases {
  background: #FFFFFF;
  width: 100%;
  font-size: .9em;
/*  clear: both;*/
  margin: 0em 0em 2em 0em;
}

.feedback-editor .phrases td {
  border: 1px solid gray;
  cursor: pointer;
}

/*.feedback-editor .phrases td:hover {
  background: #F0F0FF;
}*/

.feedback-editor h3 {
  float: left;
  margin: 0em 2em 2px 0em;
  cursor: pointer;
}

.feedback-editor ul.grading-options {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  float: right;
}

.feedback-editor ul.grading-options li {
  display: block;
  cursor: pointer;
  float: left;
  border: 1px solid #c0c0c0;
  -moz-border-radius: 6px;
  padding: 2px 2px;
  margin: 2px;
}

.feedback-editor ul.grading-options li:hover {
  background: #C0C0FF;
}

.feedback-editor ul.grading-options li.selected {
  border: 2px solid #526977;
  padding: 1px 1px;
}

.feedback-editor td.Good:hover {
  background: url("/aloha/images/fbgood.png") right repeat-y;
}
.feedback-editor td.Bad:hover {
  background: url("/aloha/images/fbbad.png") right repeat-y;
}
.feedback-editor td.Neutral:hover {
  background: url("/aloha/images/fbneutral.png") right repeat-y;
}

#textareas {
  background-color: #F0F8FF;
  border-left: 2px solid black;
  height: 100%;
  width: 30em;
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  overflow: scroll;
  padding-left: 5px;
}

#textareas textarea {
  width: 100%;
  height: 95%;
  font-family: sans-serif;
  font-size: .8em;
}

#textareas p {
  float:left;
  margin: 0em 0px 1em 5px;
  width: 95%;
  height: 30%;
}

.rubricmenu .selected {
  font-weight: bold;
}

.rubricmenu td {
  padding-right: 1em;
}

.rubricmenu .status {
  font-size: .8em;
  font-variant: small-caps;
}

.rubricmenu .section-name {
  padding-left: 1em;
}

.rubricmenu .not-started {
  color: red;
}

.rubricmenu .started {
  color: #A0A000;
}

.rubricmenu .finished {
  color: green;
}

.rubricmenu .mailed {
  color: green;
}


p.feedback-preview {
  width: 700px;
  padding: 1em;
  background: white;
  border: 1px solid black;
  font-family: monospace;
}

/*******************************
 * Rubric editor (teacher view)
 *******************************/

.rubric-editor {
  padding: 0em 0em;
}

.rubric-editor .category {
  border: 1px solid gray;
  background: #cde1f2;
  margin: 1em 0em 2em 0em;
  padding: 1em 1em 1em 2em;
  -moz-border-radius: 1em;
}

.rubric-editor .category h1 {
  margin: .5em 0em .5em -1em;
  cursor: pointer;
}

.rubric-editor .section {
  margin: 0em 0em 3em 0em;
  padding-left: .5em;
}

.rubric-editor .section h2 {
  border-bottom: 1px solid black;
  margin: 0px 0px 1em -1em;
  cursor: pointer;
}

.rubric-editor .item {
  padding-left: 1em;
}

.rubric-editor .item h3 {
  margin-left: -1em;
  margin-bottom: .5em;
  cursor: pointer;
}

.rubric-editor .item .grading-options {
  margin-top: 1em;
}

.rubric-editor .itemGradingOption {
  cursor: pointer;
}

.rubric-editor .section-grading-options span {
  cursor: pointer;
}

.rubric-editor .phrase {
  border-bottom: 1px solid #F0F8FF;
}

.rubric-editor .phrase span {
  cursor: pointer;
}

.rubric-editor table.phrases {
  width: 100%;
}

.rubric-editor tr.phrase:hover {
  background: #A4D3EE;
}


.rubric-editor td.buttons {
  width: 60px;
  text-align: right;
}

.rubric-editor td.type-selection {
  width: 100px;
}


.rubric-editor div.buttons {
  display: inline;
  margin-left: 2em;
}

.rubric-editor .editable {
  cursor: pointer;
}

/**************
 * Assignments
 **************/

.assignments .submission td {
  border: 1px solid #A4D3EE;
  padding: .2em .5em;
}

.assignments .group {
  background: #A4D3EE;
}

.assignments td.grade {
  text-align: center;
}

.assignments .late, .assignments .late a {
  color: red;
}


/******************
 * Error messages
 ******************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
