/*
 * Rubyric logo font: LMSans10 Bold Italic
 */

body {
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

div.page {
  margin-top: 1em;
}

div.content {
  margin: 0em 0em 0em 16em;
}

div.content-wide {
  margin: 0em 1em 1em 1em;
}


img {
  border: none;
}

td.trash {
  width: 3em;
  text-align: right;
}


div.clear {
  clear: both;
}

/*
div.hidden {
  visibility: hidden;
}
*/

.bold {
  font-weight: bold;
}

span.warning {
  color: red;
}

span.error {
  color: red;
}

a.warning {
  color: red;
}

a.inactive {
  color: gray;
}

a.inactive:visited {
  color: gray;
}

.hint {
  font-size: smaller;
  color: gray;
  font-style: italic;
}

ul.sparse li {
  margin-bottom: 1em;
}

/******************
 * Header
 ******************/

div.header {
  height: 100px;
  position: relative;
  background: white;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 0px;
}

div.header #ruby {
  display: block;
  margin: 0px;
  position: absolute;
  top: 10px;
  left: 10px;
}

div.header #logo {
  display: block;
  position: absolute;
  top: 20px;
  left: 90px;
}

div.navibar {
  width: 100%;
  height: 28px;
  font-size: 16px;
  background: gray url("../images/naviBar.png") repeat-x;
  position: absolute;
  bottom: 0px;
}

div.navibar ul {
  height: 100%;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  float: right;
}

div.navibar li {
  display: block;
  line-height: 28px;
  float: left;
  height: 28px;
  margin: 0px 2px;
}

div.navibar ul a {
  display: block;
  height: 100%;
  color: white;
  background: url("../images/naviButtonC.png") repeat-x;
  padding: 0px 6px;
  font-size: 12px;
  /* font-variant: small-caps; */
  text-decoration: none;
}

div.navibar a:hover {
  background: url("../images/naviButtonCh.png") repeat-x;
}

div.navibar div.lang {
  height: 100%;
  margin: 0px 10px 0px 10px;
  padding: 0px;
  float: right;
  line-height: 28px;
  color: white;
}

div.navibar div.lang a {
  color: white;
}

/******************
 * Breadcrumbs
 ******************/

div.breadcrumbs {
  float: left;
  margin: 2px 4px;
}

.breadcrumbs ul {
  display: inline;
  margin: 0px;
  padding: 0px;
  color: #808080;
}

.breadcrumbs li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

/*
.breadcrumbs li:before {
  content: " / ";
}

.breadcrumbs li.first:before {
  content: "";
}
*/

div.breadcrumbs a {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}

div.breadcrumbs a:hover {
  text-decoration: underline;
}

div.login {
  float: right;
  font-size: 12px;
  color: #808080;
  margin: 2px 10px 2px 4px;
}

div.login a {
  color: #808080;
}

/*************
 * Left navi
 *************/
 
.leftNavi {
  float: left;
  width: 14em;
  padding: 0em 1em 1em 1em;
}

.leftNavi ul {
  margin: 0px;
  padding: 0px;
}

.leftNavi ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: smaller;
}

/* Top level */
.leftNavi > ul {
  margin-bottom: 1em;
}

.leftNavi > ul > li {
  font-weight: bold;
}

/* Sub level */
.leftNavi > ul ul {
  margin-left: 1em;
}


/******************
 * Links
 ******************/

a {
  color: #00154c;
}

a:visited {
  color: #324065;
}

a.new, .new {
  color: green;
  font-size: .9em;
  font-variant: small-caps;
}

.button {
  background: #D0D0D0;
  border: 3px gray;
  text-decoration: none;
  padding: .2em
}

.smallButton {
  /*background: #fff0f0;
  border: 1px #ff8080 outset;
  padding: .1em .2em;
  text-decoration: none;
  */
  margin: 0em .5em;
  font-size: .9em;
}


/******************
 * Headings
 ******************/

h1 {
  font-size: 130%;
  color: #cc1414;
  padding-top: 0px;
  margin-top: 0px;
}

h1 a {
  font-size: .7em;
  font-weight: normal;
  font-variant: small-caps;
}

h2 {
  font-size: 100%;
  margin-top: 2em;
  color: black;
}

h3 {
  font-size: 100%;
}

h1 .hint, h2 .hint, h3 .hint {
  font-size: small;
  font-weight: normal;
  color: gray;
}

/******************
 * Flash messages
 ******************/

.flash {
  padding: 4px;
  margin: .6em 0em;
  -moz-border-radius: 6px;
}

.flashWarning {
  color: black;
  background: #FFFFBB;
  border: 1px solid #808000;
}

.flashSuccess {
  color: black;
  background: #BBFFBB;
  border: 1px solid #008000;
}

.flashError {
  color: black;
  background: #FFBBBB;
  border: 1px solid #B00000;
}


/******************
 * Help box
 ******************/

#contextHelp {
  float: right;
  width: 15em;
  background: #f7f7f7;
  color: black;
  border: 1px solid #808080;
  margin: 0em 1em 1em 1em;
  padding: .5em;
  font-size: .9em;
}

#contextHelp h1 {
  margin-top: 0em;
  font-size: 1.1em;
  color: #cc1414;
}



/******************
 * Tables
 ******************/

table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

thead {
  font-style: italic;
  background: #fff0f0;  /* url("../images/tableHead.png") repeat-x; */
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;

  /* height: 24px; */
  /* font-size: 14px; */
}

thead td {
  line-height: 24px;
  padding: 0px 4px;
  /*border-left: 1px solid #cc1414;
  border-right: 1px solid #cc1414;*/
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

table.histogram {
  float: left;
  margin: 0em 2em 2em 0em;
  border: 1px solid gray;
}

table.histogram td {
  padding: .1em .5em;
}

/***********************************
 * Feedback editor (assistant view)
 ***********************************/

.feedback-editor {
  margin-right: 42%;
}

.feedback-editor .phrases {
  background: #F8F8F8;
  width: 100%;
  font-size: .8em;
/*  clear: both;*/
  margin: 0em 0em 2em 0em;
}

.feedback-editor .phrases td {
  border: 1px solid gray;
  cursor: pointer;
  padding: 4px;
}

/*.feedback-editor .phrases td:hover {
  background: #F0F0FF;
}*/

.feedback-editor h3 {
  float: left;
  margin: 0em 2em 2px 0em;
  cursor: pointer;
}

.feedback-editor ul.grading-options {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  float: right;
}

.feedback-editor ul.grading-options li {
  display: block;
  cursor: pointer;
  float: left;
  background: #fff0f0;
  -moz-border-radius: 6px;
  border: 1px solid #c0c0c0;
  padding: 2px;
  margin: 2px;
}

.feedback-editor ul.grading-options li:hover {
  background: #ffe0e0;
}

.feedback-editor ul.grading-options li.selected {
  border: 2px solid #f00000;
  padding: 1px;
}

.feedback-editor td.Good:hover {
  background: url("../images/fbgood.png") right repeat-y;
}
.feedback-editor td.Bad:hover {
  background: url("../images/fbbad.png") right repeat-y;
}
.feedback-editor td.Neutral:hover {
  background: url("../images/fbneutral.png") right repeat-y;
}

.feedback-editor .grade {
  font-size: 150%;
  font-weight: bold;
}

#textareas {
  background-color: #f8f8f8;
  border-left: 2px solid black;
  height: 100%;
  width: 40%;
  float: right;
  position: fixed;
  right: 0;
  top: 0;
  overflow: scroll;
  padding-left: 5px;
}

#textareas textarea {
  width: 100%;
  height: 95%;
  font-family: sans-serif;
  font-size: .8em;
}

#textareas p {
  float:left;
  margin: 0em 0px 1em 5px;
  width: 95%;
  height: 30%;
}

.rubricmenu {
  margin-bottom: 2em;
  font-size: .9em;
}

.rubricmenu tr.selected {
  /*border: 1px solid #FF8080;*/
  border: 1px solid #f00000;
  /*background: #f0e0e0;*/
}

.rubricmenu td.selected {
  font-weight: bold;
}

.rubricmenu td {
  padding-right: 1em;
}

.rubricmenu .status {
  font-size: .8em;
  font-variant: small-caps;
}

.rubricmenu .section-name {
  padding-left: 1em;
}

.rubricmenu .not-started {
  color: red;
}

.rubricmenu .started {
  color: #A0A000;
}

.rubricmenu .finished {
  color: green;
}

.rubricmenu .mailed {
  color: green;
}


p.feedback-preview {
  width: 700px;
  padding: 1em;
  background: white;
  border: 1px solid black;
  font-family: monospace;
}


/**************************************************************************
 * Rubric editor (teacher view)
 **************************************************************************/

.rubric-editor {
  padding: 0em 0em;
}

.rubric-editor .weight {
  font-size: small;
  color: black;
}

.rubric-editor .category {
  border: 1px solid gray;
  -moz-border-radius: 1em;
  background: #ffebeb;
  margin: 1em 0em 2em 0em;
  padding: 1em;
}

.rubric-editor .category h1 {
  font-size: 140%;
  margin: .5em 0em .5em 0em;
  font-weight: normal;
}

.rubric-editor .category h1 span {
  cursor: pointer;
}

.rubric-editor .section {
  margin: 0em 0em 3em 0em;
  padding: 0em 1em;

  border: 1px solid gray;
  -moz-border-radius: .5em;
  background: white;
}

.rubric-editor .section h2 {
  font-size: 120%;
  font-weight: normal;
  border-bottom: 1px solid #cc1414;
  color: #cc1414;
  margin: .5em 0px 1em 0em;
}

.rubric-editor .section h2 span {
  cursor: pointer;
}

.rubric-editor .item {
  padding: .5em;
  margin: 1em 0em 2em 0em;
  border: 1px solid white;
}

.rubric-editor .item h3 {
  margin-left: 0em;
  margin-bottom: .5em;
  margin-top: 0em;
}

.rubric-editor .item h3 span {
  cursor: pointer;
}

.rubric-editor .item .buttons {
  visibility: hidden;
}

.rubric-editor .item:hover {
  border: 1px dotted navy;
}

.rubric-editor .item:hover .buttons {
  visibility: visible;
}

.rubric-editor .item .grading-options {
  margin-top: 1em;
  font-size: .9em;
}

.rubric-editor .itemGradingOption {
  cursor: pointer;
}

.rubric-editor .section-grading-options {
  margin: 2em 1em 1em 0em;
  padding: 0em;
}


.rubric-editor .section-grading-options table {
  border-bottom: 1px solid #808080;
}

.rubric-editor .section-grading-options td {
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding: .1em .5em;
}

.rubric-editor .section-grading-options .points {
  text-align: center;
}

.rubric-editor .section-grading-options h3 {
  margin-top: 0em;
}

.rubric-editor .section-grading-options span {
  cursor: pointer;
}

.rubric-editor .phrase span {
  cursor: pointer;
}

.rubric-editor table.phrases {
  width: 100%;
  background: #f8f8f8;
  border: 1px solid #808080;
}

.rubric-editor .phrases td {
  border-bottom: 1px solid #808080;
  padding: 1px;
}

.rubric-editor tr.phrase textarea {
  width: 100%;
}

.rubric-editor td.buttons {
  width: 100px;
  text-align: right;
}

.rubric-editor td.type-selection {
  width: 100px;
}


.rubric-editor div.buttons {
  display: inline;
  margin-left: 2em;
}

.rubric-editor .editable {
  cursor: pointer;
}

/**************
 * Assignments
 **************/

.assignments .submission td {
  border: 1px solid #808080;
  padding: .2em .5em;
}

.assignments .group {
  border: 1px solid #808080;
  background: #e0e0e0;
}

.assignments td.grade {
  text-align: center;
}

.assignments .late, .assignments .late a {
  color: red;
  font-weight: bold;
}


/******************
 * Error messages
 ******************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}



#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  text-align: center;
  z-index: 1000;
  background: url("../images/transparency.png");
}


#overlay div {
  width: 50%;
  margin: 100px auto;
  background: white;
  border: 2px solid black;
  padding: 1em;
}

