<!-- groups/edit.html.erb -->
<div class="page-header">
  <h1>
    <% if @group.max_size > 1 %>
      <%=t '.title_group' %><br />
    <% end %>
    <%= "#{@course.code} #{@course.name} (#{@course_instance.name}) - #{@exercise.name}" %>
  </h1>
</div>

<%= render 'form' %>
