<h1>This LTI assignment has not yet been configured</h1>


<h2>Debugging information for the instructor:</h2>

<p>The following attributes were received from the learning management system:</p>
<ul>
  <li>lti_context_id: <%= params[:context_id] %>
  <li>resource_link_id: <%= params[:resource_link_id] %>
</ul>

<p>Make sure that these match the ones in assignment settings.</p>
