<!-- course_instance/show.html.erb -->

<div class="page-header">
  <h1><%= "#{@course.full_name} - #{@course_instance.name}" %></h1>
</div>

<%= render :partial => 'form' %>


<%= link_to "Buy", new_order_path(), :class => "btn btn-small" %>
