<!-- course_instance/new.html.erb -->
<% content_for :javascript do %>
  <%= javascript_include_tag 'views/course_instances/new' %>
<% end %>

<div class="page-header">
  <h1>Create course</h1>
</div>

<%= render :partial => 'form' %>
