<div class="well">
  <h2>Calculator</h2>

  <p>
    <input type="text" id="students" class="input-mini" value="20"> students =
    <span id="price" style="font-size: 200%; margin-left: 1em;">0</span> <span id="price" style="font-size: 200%">€</span>
  </p>
  
  <p>
    <div id="slider-students" style="width: 200px;"></div>
  </p>
</div> 
