<div class="well">
  <p>Price calculator</p>
  <p style="margin: 2ex 0ex 2ex 0ex; text-align: center">
    <input style="width: 4em;" type="text" id="students" class="input-mini" value="20"> students
    <span style="margin: 0em 1em;">=</span>
    <span id="price" style="font-size: 200%">FREE</span>
  </p>

  <div id="slider-students" style="margin-top: 2ex"></div>
</div>
