<div class="well">
  <p style="font-size: 150%; margin-top: 0ex;"><strong>First course instance for FREE</strong></p>
  <p style="font-size: 150%; margin-top: 1ex; margin-bottom: 2ex;">Normally: € 0.99 / student, first 20 students for free</p>
          <!-- <p style="margin: 2ex 0ex 4ex 0ex">Price includes one course offering (i.e. one semester) with 5 MB of storage per student.</p> -->
          
  <!--p>Price calculator</p-->
  <p style="margin: 2ex 0ex 2ex 0ex; text-align: center">
    <input style="width: 4em;" type="text" id="students" class="input-mini" value="20"> students
    <span style="margin: 0em 1em;">=</span>
    <span id="price" style="font-size: 200%">FREE</span>
  </p>

  <div id="slider-students" style="margin-top: 2ex"></div>
</div>
