<div class="row large-gap">
  <div class="col-sm-12">
    <h2>Pricing</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <p style="">This first course is FREE. Storage is limited to 500 MB.</p>
  </div>
  <div class="col-sm-6 text-muted">
  </div>
</div>
