<div class="row large-gap">
  <div class="col-sm-12">
    <h2>Set the preliminary number of students</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <p style="font-size: 150%; margin-top: 0ex; margin-bottom: 2ex;">€ 0.49 / student, first 20 students for free</p>
              <!-- <p style="margin: 2ex 0ex 4ex 0ex">Price includes one course offering (i.e. one semester) with 5 MB of storage per student.</p> -->
              
      <p style="margin: 2ex 0ex 2ex 0ex; text-align: center">
        <!-- input name="planned_students" style="width: 4em;" type="text" id="students" class="input-mini" value="20">-->
        <%= text_field_tag :planned_students, @pricing.planned_students, :class => 'input-mini', :id => 'students', :style => 'width: 4em;' %> students
        
        <span style="margin: 0em 1em;">=</span>
        <span id="price" style="font-size: 200%">FREE</span>
      </p>

      <div id="slider-students" style="margin: 3ex 0ex 2ex 0ex"></div>
    </div>

  </div>
  <div class="col-sm-6 text-muted">
    <p>
      You can pay later, when the final number of students is known. In case the number of students exceeds the preliminary number, you will receive a warning and have the option to:
    </p>
    <ul>
      <li>upgrade the plan or</li>
      <li>download and remove excess submissions from the server</li>
    </ul>
  </div>
</div>
