<!-- submissions/aplus-submit.html.erb -->
<% content_for(:meta) do %>
  <meta name="max-points" value="<%= @exercise.max_grade || 0 %>" />
  <meta name="DC.title" value="<%= @exercise.name %>" />
  <meta name="DC.Description" value="" />
  <meta name="status" value="<%= @status %>" />
<% end %>

<div id="exercise">
  <% if @status == 'accepted' && !@exercise.submit_post_message.blank? %>
    <p><%= @exercise.submit_post_message %></p>
  <% end %>
</div>
