<!-- submissions/instance_inactive.html.erb -->

<h1><%= "#{h @course.code} #{h @course.name} (#{h @course_instance.name}) - #{h @exercise.name}" %></h1>

<p>This course is not active.</p>

<% unless @course.active_instances.empty? %>
  <p>Open exercises:</p>
  <ul>
    <% @course.active_instances.each do |instance| %>
      <% instance.exercises.each do |exercise| %>
        <li><%= link_to "#{h instance.name} - #{h exercise.name}", submit_path(exercise.id) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
