<!-- submissions/instance_inactive.html.erb -->

<h1><%= "#{@course.full_name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>

<p>This course is not active.</p>

<% unless @course.active_instances.empty? %>
  <p>Active assignments:</p>
  <ul>
    <% @course.active_instances.each do |instance| %>
      <% instance.exercises.each do |exercise| %>
        <li><%= link_to "#{instance.name} - #{exercise.name}", submit_path(exercise.id) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>