<!-- submissions/instance_inactive.html.erb -->

<h1><%= "#{@course.code} #{@course.name} (#{@course_instance.name}) - #{@exercise.name}" %></h1>

<div class="alert alert-error">
  Only enrolled students are allowed to submit.
</div>
