<p>Rubyric is a rubrics-based assessment tool. It's designed to speed up grading and improve feedback on large courses. <a href="http://www.cs.hut.fi/Research/SVG/Rubyric/">Learn more...</a></p>

<h1>Login</h1>

<%= render :partial => 'sessions/login' %>
