<div class="page-header">
  <h1>Welcome to Rubyric</h1>
</div>

<p id="frontpage-intro"><%=t :frontpage_intro_html %></p>


<h1><%=t :frontpage_login_heading %></h1>

<%= render :partial => 'sessions/login' %>
