<!-- courses/index.html.erb -->

<h1>Courses</h1>

<table>
  <% for course in @courses %>
    <tr>
      <td><%= link_to course.code, course %></td>
      <td><%= link_to course.name, course %></td>
      <td class="trash">
        <% if course.has_teacher(current_user) || is_admin?(current_user) %>
          <%= link_to(image_tag('trash.png', :alt => 'Destroy'), course, :confirm => 'Are you sure?',  :method => :delete) %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% if @allow_create %>
    <tr>
      <td><%= link_to 'New course', new_course_path, :class => 'new' %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
