<!-- courses/new.html.erb -->

<div class="page-header">
  <h1><%=t :course_new_heading %></h1>
</div>

<!--p><%=t :course_new_policy %></p-->

<%= render :partial => 'settings' %>

<%= link_to t(:Back), root_path %>
