<!-- Menu -->
<table class="rubricmenu">
  <% @exercise.categories.each do |category| %>
    <tr>
      <td class="bold"><%= category.name %></td>
    </tr>
    <% category.sections.each do |section| %>
      <tr<%= @section && @section.id == section.id ? ' class="selected"' : '' %>>
        <td class="section-name<%= @section && @section.id == section.id ? ' selected' : '' %>">
          <%= link_to section.name, {:section => section.id}, :class => (@section && @section.id == section.id ? 'selected' : '') %>
        </td>
        <td class='status'></td>
      </tr>
    <% end %>
  <% end %>
</table>
