<!-- Categories -->
<div id="categories">
  <%= render :partial => 'category', :collection => rubric.categories %>
</div>

<!-- Categories -->
<p><%= link_to_remote 'New part', :url => { :action => 'new_category', :eid => rubric.id }, :update => 'categories', :position => 'bottom', :html => { :class  => 'new' } %></p>

<!-- Preview -->
<p style="text-align: center; font-size: 150%; font-weight: bold;"><%= link_to 'Preview', {:action => 'preview', :id => params[:id]} %></p>


<div id="settings">
  <%= render :partial => 'settings' %>
</div>
