.annotation-editor {
  height: 100%;
  
  .rubric {
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: scroll;
    z-index: 1;
    background: white;
    border-left: 1px solid black;
  
    .rubric-container {
      margin: 4px 1px 4px 4px;
    }
    
    .rubric-content {
      font-size: 12px;
      
      h3 {
        font-size: 14px;
        line-height: 18px;
      }
      
      td.grade {
        padding: 1px;
        
        .btn {
          padding: 4px 8px;
        }
      }
      
      td.phrase {
        padding: 1px 1px 1px 3px;
      }
      
    }
    
    .toolbar {
      width: 100%;
      background: #eee;
      border-bottom: 1px solid #ddd;
      
      div {
        padding: 2px;
      }
    }
  }

  .submission-pages {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    overflow-x: scroll;
    
    hr {
      border: 1px solid black;
    }
  }
  
  .submissions-container {
    margin-top: 60px;
  }
  
  .submission-page {
    position: relative;
    /*border: 1px solid red;*/
    /*padding-right: 400px;*/
    margin: 10px 0px;
    
    img {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      margin-bottom: 10px;
      background: white;
    }
  }
  
  /*
  .submission-page:first-child {
    margin-top: 60px;
  }
  */
  
  .annotation {
    font-size: 12px;
    max-width: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #886;
    background: #ffa;
    cursor: default;
    
    textarea {
      width: 286px;
      height: 150px;
      margin-left: -2px;
      margin-bottom: 2px;
    }

    .grade {
      float: left;
      font-size: 200%;
      font-weight: bold;
      font-style: sans-serif;
      margin: 6px 6px 6px 6px;
    }
  
    .content {
      padding: 1px 0px 1px 2px;
      cursor: pointer;
    }
    
    .statusbar {
      border-top: 1px solid #aa8;
      background: #eea;
      color: #886;
      font-size: 11px;
      font-family: sans-serif;
      padding: 0px 4px;
    }
    
    
    button {
      margin-left: 4px;
    }
    
    &.editorActive {
      z-index: 1;
    }
  }
 
  .btn-mini {
    padding: 1px;
    height: 20px;
  }
}

div.annotation-drag-helper {
  width: 100px;
  height: 10px;
  border: 1px solid #884;
  background: #ffa;
}
