/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require grumble
 *= require_self
 *= require theme
 *= require annotation
 *= require jquery.ui.slider

 * require bootstrap-3.1.1/bootstrap
 * require annotation
 * require jquery.ui.datepicker
 */

// Override some bootstrap variables
$carousel-indicator-active-bg:    #fff;
$carousel-indicator-border-color: #fff;
$carousel-control-color: #ccc;
$icon-font-path: "bootstrap-3.1.1/";
$navbar-height: 40px;

@import "bootstrap-3.1.1/bootstrap";
/*
// Core variables and mixins
@import "bootstrap-3.1.1/variables";
@import "bootstrap-3.1.1/mixins";

// Reset
@import "bootstrap-3.1.1/normalize";
@import "bootstrap-3.1.1/print";

// Core CSS
@import "bootstrap-3.1.1/scaffolding";
@import "bootstrap-3.1.1/type";
@import "bootstrap-3.1.1/code";
@import "bootstrap-3.1.1/grid";
@import "bootstrap-3.1.1/tables";
@import "bootstrap-3.1.1/forms";
@import "bootstrap-3.1.1/buttons";

// Components
@import "bootstrap-3.1.1/component-animations";
@import "bootstrap-3.1.1/glyphicons";
@import "bootstrap-3.1.1/dropdowns";
@import "bootstrap-3.1.1/button-groups";
@import "bootstrap-3.1.1/input-groups";
@import "bootstrap-3.1.1/navs";
@import "bootstrap-3.1.1/navbar";
@import "bootstrap-3.1.1/breadcrumbs";
@import "bootstrap-3.1.1/pagination";
@import "bootstrap-3.1.1/pager";
@import "bootstrap-3.1.1/labels";
@import "bootstrap-3.1.1/badges";
@import "bootstrap-3.1.1/jumbotron";
@import "bootstrap-3.1.1/thumbnails";
@import "bootstrap-3.1.1/alerts";
@import "bootstrap-3.1.1/progress-bars";
@import "bootstrap-3.1.1/media";
@import "bootstrap-3.1.1/list-group";
@import "bootstrap-3.1.1/panels";
@import "bootstrap-3.1.1/wells";
@import "bootstrap-3.1.1/close";

// Components w/ JavaScript
@import "bootstrap-3.1.1/modals";
@import "bootstrap-3.1.1/tooltip";
@import "bootstrap-3.1.1/popovers";
@import "bootstrap-3.1.1/carousel";

// Utility classes
@import "bootstrap-3.1.1/utilities";
@import "bootstrap-3.1.1/responsive-utilities";
*/

div.clear {
  clear: both;
}

.busy {
  background-image: image_url("ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center center; 
}

.hint {
  font-size: small;
  color: gray;
  font-style: italic;
}

input.error {
  background-color: #fcc;
  color: black;
}

.obfuscate {
  display: none;
}


hr.large-gap {
  margin-top: 10ex;
}

.large-gap, .gap {
  margin-top: 5ex;
}

/*
.bold {
  font-weight: bold;
}

span.warning {
  color: red;
}

span.error {
  color: red;
}

a.warning {
  color: red;
}

a.inactive {
  color: gray;
}

a.inactive:visited {
  color: gray;
}

ul.sparse li {
  margin-bottom: 1em;
}

p.narrow, div.narrow {
  width: 800px;
}

.sessions-login-method {
  width: 800px;
  margin-bottom: 5em;
}

.sessions-login-box {
  float: left;
  border: 2px solid #aaa;
  padding: 16px;
  font-size: small;
  color: gray;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
*/

.shibboleth-login {
  a {
    padding: 1em 2em;
    font-weight: bold;
    /*.border-radius(20px);*/
    margin-bottom: 1ex;
  }

  p {
    margin-bottom: 20px;
  }
}


/******************
 * Headings
 ******************/

h1, h2, h3 {
  color: #444;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 130%;
  line-height: 140%;
}



h3 {
  font-size: 100%;
  line-height: 150%;
}

/*
h1 a {
  font-size: .7em;
  font-weight: normal;
  font-variant: small-caps;
}
*/

/*
h1:first-child, h2:first-child, h3:first-child, h1 + h2, h1 + h3, h2 + h3 {
  padding-top: 0px;
  margin-top: 0px;
}
*/

h1 .hint, h2 .hint, h3 .hint {
  font-size: small;
  font-weight: normal;
  color: gray;
}

/******************
 * Help box
 ******************/

/*
#contextHelp {
  float: right;
  width: 15em;
  background: #f7f7f7;
  color: black;
  border: 1px solid #808080;
  margin: 0em 1em 1em 1em;
  padding: .5em;
  font-size: .9em;
}

#contextHelp h1 {
  margin-top: 0em;
  font-size: 1.1em;
  color: #cc1414;
}
*/


/******************
 * Tables
 ******************/

/*
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

thead {
  font-style: italic;
  background: #fff0f0;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

thead td {
  line-height: 24px;
  padding: 0px 4px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

table.histogram {
  float: left;
  margin: 0em 2em 2em 0em;
  border: 1px solid gray;
}

table.histogram td {
  padding: .1em .5em;
}
*/

.course-list {
  td {
    vertical-align: top;
    padding-right: 1em;
  }
  
  h2 {
    font-size: 100%;
    font-weight: bold;
    margin: 2ex 0 0 0;
  }
  
  ul {
    margin-left: 2em;
  }
}

/******************
 * Frontpage
 ******************/

.frontpage h3 {
  color: #444;
}

.frontpage strong {
  color: #a00;
}

.frontpage.page-header h1 {
  font-size: 200%;
}


/***********************************
 * Feedback editor (assistant view)
 ***********************************/

.rubric {
  div.criterion {
    margin: 0em 0em 1em 0em;
    
    h3 {
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }
  }
  
  table.phrases {
    background: #F8F8F8;
    width: 100%;
    margin: 0em 0em 0em 0em;
    
    tr {
      border: 1px solid gray;
    }
    
    td {
      cursor: pointer;
      padding: 4px;
    }
    
    button.highlighted {
      font-weight: bold;
      border: 1px solid #622;
      background: #fcc;
    }
  }

  td.grade {
    white-space: nowrap;
  }
  
  td.phrase {
    width: 99%;
  }

  select {
    margin: 0px;
  }

}

.review-editor {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 70%;
  margin: 0em;
  padding: 0em 0em;
  
  /* Show/Hide phrases */
  .rubric.compact div.criterion {
    h3 button {
      visibility: visible;
    }

    div.phrases {
      display: none;
    }
  }
  
  div.criterion h3 button {
    visibility: hidden;
  }
  
  .download-submission {
    font-size: 140%;
  }
}


.textareas {
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;

  background-color: #f8f8f8;
  border-left: 2px solid black;
  overflow: auto;
  
  div.category {
    width: 97%;
    height: 33%;
    text-align: center;
    position: relative;
    margin: 0px auto;
    /*border: 1px solid #0d0;*/
  }
  
  div.title {
    text-align: left;
    /*background: blue;*/
    height: 4ex;
    position: relative;
    
    p {
      position: absolute;
      bottom: 1px;
      /*background: yellow;*/
      padding: 0px;
      margin: 0px;
    }
  }

  div.feedback {
    position: absolute;
    top: 4ex;
    bottom: 0px;
    width: 100%;
    
    div {
      position: relative;
      /*border: 1px solid red;*/
      display: table-cell;
      /*width: 100%;*/
      height: 100%;
    }
  }
  
  textarea {
    width: 100%;
    height: 98%;
    margin: 0px;
    font-family: sans-serif;
    text-align: left;
    padding: 2px;
    margin-left: -2px;
  }
}

p.feedback-preview {
  width: 700px;
  padding: 1em;
  background: white;
  border: 1px solid black;
  font-family: monospace;
}

/**************************************************************************
 * Rubric editor (teacher view)
 **************************************************************************/

.rubric-editor {
  padding: 0em 0em 1em 0em;

  .grading-scale input {
    width: 100%;
  }

  .weight {
    /*font-size: small;*/
    color: black;
  }

  .buttons i {
    cursor: pointer;
  }

  .buttons,
  .criterion .create-phrase-button
  {
    visibility: hidden;
  }

  .page h2:hover .buttons,
  .criterion:hover .buttons,
  tr:hover .buttons
  {
    visibility: visible;
  }

  td.phrase {
    width: auto;
  }
    
  td.buttons-column {
    width: 80px;
    text-align: center;
  }

  textarea {
    width: 100%
  }

  div.grading {
    margin-top: 4em;
  }

  .section {
    margin: 0em 0em 3em 0em;
    padding: 0em 1em;

    border: 1px solid gray;
    -moz-border-radius: .5em;
    background: white;
  }

  .section h2 {
    font-size: 120%;
    font-weight: normal;
    border-bottom: 1px solid #cc1414;
    color: #cc1414;
    margin: .5em 0px 1em 0em;
  }

  .section h2 span {
    cursor: pointer;
  }

  .item {
    padding: .5em;
    margin: 1em 0em 2em 0em;
    border: 1px solid white;
  }

  .item h3 {
    margin-left: 0em;
    margin-bottom: .5em;
    margin-top: 0em;
  }

  .item h3 span {
    cursor: pointer;
  }

  .item .buttons {
    visibility: hidden;
  }

  .item:hover {
    border: 1px dotted navy;
  }

  .item:hover .buttons {
    visibility: visible;
  }

  .item .grading-options {
    margin-top: 1em;
    /*font-size: .9em;*/
  }

  .itemGradingOption {
    cursor: pointer;
  }

  .section-grading-options {
    margin: 2em 1em 1em 0em;
    padding: 0em;
  }


  .section-grading-options table {
    border-bottom: 1px solid #808080;
  }

  .section-grading-options td {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    padding: .1em .5em;
  }

  .section-grading-options .points {
    text-align: center;
  }

  .section-grading-options h3 {
    margin-top: 0em;
  }

  .section-grading-options span {
    cursor: pointer;
  }

  table.phrases {
    width: 100%;
    background: #f8f8f8;
    border: 1px solid #808080;
  }

  .phrases td {
    border-bottom: 1px solid #808080;
    border-right: none;
    border-left: none;
    padding: 1px;
  }


  td.phraseType {
    width: 6em;
    text-align: center;
  }

  select.phraseType {
    width: 5em;
  }
  
  input.phraseType {
    width: 5em;
  }

  td.type-selection {
    width: 100px;
  }
}


/**************
 * Assignments
 **************/

.assignments {
  margin-bottom: 1em;
  
  .submission td {
    border: 1px solid #808080;
    padding: .2em .5em;
  }

  .group {
    border: 1px solid #808080;
    background: #e0e0e0;
  }

  td.grade {
    text-align: center;
  }

  .late, .late a {
    color: red;
    font-weight: bold;
  }

  .spacer td {
    padding: 1px;
  }

  .submissions_table .btn {
    margin: 0px;
  }
}

.collaborative-assignments {
  h3 {
    margin: 0em 0em 0em 0em;
  }
  ul {
    margin-left: 1em;
  }
  
  .submission-thumbnail {
    margin: 0em 1em 0em 0em;
  }
  
  ul.reviews {
    display: inline;
    margin: 0px;
    padding: 0px;
    
    li {
      display: inline;
      margin: 0em 0.5em;
    }
  }
  
  .submission {
    margin-bottom: 1em;
  }
}

pre.payload {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.popover-content { white-space:pre-wrap; }

#exercise-manager-frontpage {
  td {
    padding-bottom: 2em;
  }
  td:first-child {
    font-weight: bold;
    padding-right: 2em;
  }
}


/**************************************************************************
 * Submit form (student's view)
 **************************************************************************/

#submit-form {
  table.submissions {
    td {
      padding-right: 1em;
      padding-bottom: 1ex;
    }
  }
  
  .row {
    margin-top: 2em;
  }
  
  .row:first-child {
    margin-top: 0em;
  }
}


/**************************************************************************
 * Review ratings
 **************************************************************************/

.review-rating {
  margin: 1em;
  float: left;
  
  font-size: 16px;

  li {
    button {
      font-size: 24px;
      margin: 4px;
    }
  }
  
  li.selected {
    border: 1px solid gray;
  }
}


/******************
 * Error messages
 ******************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.assign-groups {
  
}

table.table-hover {
  td.hover-buttons {
    visibility: hidden;
  }

  tr:hover td.hover-buttons {
    visibility: visible;
  }
}

div.hover-buttons {
  visibility: hidden;
  margin-left: 1em;
}

tr:hover div.hover-buttons {
  visibility: visible;
}



/******************
 * Footer
 ******************/

.footer {
  /*text-align: center;*/
  padding: 30px 0px;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;

  p {
    color: #777;
  }
}
