/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require jquery.ui.datepicker
 *= require jquery.ui.slider
 *= require grumble
 *= require_self
 *= require theme
 *= require annotation

 * // require_tree .
 */

div.clear {
  clear: both;
}

.busy {
  background-image: image_url("ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

.hint {
  font-size: small;
  color: gray;
  font-style: italic;
}

input.error {
  background-color: #fcc;
  color: black;
}

.obfuscate {
  display: none;
}

.gap {
  margin-top: 4ex;
}

.large-gap {
  margin-top: 10ex;
}

/*
.bold {
  font-weight: bold;
}

span.warning {
  color: red;
}

span.error {
  color: red;
}

a.warning {
  color: red;
}

a.inactive {
  color: gray;
}

a.inactive:visited {
  color: gray;
}

ul.sparse li {
  margin-bottom: 1em;
}

p.narrow, div.narrow {
  width: 800px;
}

.sessions-login-method {
  width: 800px;
  margin-bottom: 5em;
}

.sessions-login-box {
  float: left;
  border: 2px solid #aaa;
  padding: 16px;
  font-size: small;
  color: gray;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
*/

.shibboleth-login {
  a {
    padding: 1em 2em;
    font-weight: bold;
    /*.border-radius(20px);*/
    margin-bottom: 1ex;
  }

  p {
    margin-bottom: 20px;
  }
}

/******************
 * Headings
 ******************/

h1, h2, h3 {
  color: #444;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 130%;
  line-height: 140%;
}

h3 {
  font-size: 100%;
  line-height: 150%;
}

/*
h1 a {
  font-size: .7em;
  font-weight: normal;
  font-variant: small-caps;
}
*/

/*
h1:first-child, h2:first-child, h3:first-child, h1 + h2, h1 + h3, h2 + h3 {
  padding-top: 0px;
  margin-top: 0px;
}
*/

h1 .hint, h2 .hint, h3 .hint {
  font-size: small;
  font-weight: normal;
  color: gray;
}

div.page-header h1 i {
  line-height: 40px;
  vertical-align: middle;
  margin-right: 0.5em;
}

.transient-message {
  opacity: 0;
  padding: 2px 5px;

  &.success {
    color: #080;
  }

  &.error {
    background: #faa;
    color: #800;
  }
}

/******************
 * Help box
 ******************/

/*
#contextHelp {
  float: right;
  width: 15em;
  background: #f7f7f7;
  color: black;
  border: 1px solid #808080;
  margin: 0em 1em 1em 1em;
  padding: .5em;
  font-size: .9em;
}

#contextHelp h1 {
  margin-top: 0em;
  font-size: 1.1em;
  color: #cc1414;
}
*/

/******************
 * Tables
 ******************/

/*
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

thead {
  font-style: italic;
  background: #fff0f0;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

thead td {
  line-height: 24px;
  padding: 0px 4px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

table.histogram {
  float: left;
  margin: 0em 2em 2em 0em;
  border: 1px solid gray;
}

table.histogram td {
  padding: .1em .5em;
}
*/

/******************
 * Frontpage
 ******************/

.frontpage h3 {
  color: #444;
}

.frontpage strong {
  color: #a00;
}

.frontpage.page-header h1 {
  font-size: 200%;
}

/***********************************
 * Feedback editor (assistant view)
 ***********************************/

.rubric {
  div.criterion {
    margin: 0em 0em 1em 0em;

    h3 {
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }
  }

  table.phrases {
    background: #F8F8F8;
    width: 100%;
    margin: 2px 0px;

    tr {
      border: 1px solid gray;
    }

    td {
      cursor: pointer;
      padding: 4px;
    }

    button.highlighted {
      font-weight: bold;
      border: 1px solid #622;
      background: #fcc;
    }
  }

  td.grade {
    white-space: nowrap;
  }

  td.phrase {
    width: 99%;
  }

  select {
    margin: 0px;
  }

  span.badge {
    padding: 1px 4px;
  }
}

.grading-instructions {
  color: gray;
  font-style: italic;
  font-size: 12px;
  margin: 2px 0px;
}

.review-editor {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 70%;
  margin: 0em;
  padding: 0em 0em;

  /* Show/Hide phrases */
  .rubric.compact div.criterion {
    h3 button {
      visibility: visible;
    }

    div.phrases {
      display: none;
    }
  }

  div.criterion h3 button {
    visibility: hidden;
  }

  .row-fluid a.back-button {
    padding: 12px 20px 2px 8px;
  }

  .nav-tabs .btn {
    margin: 4px 0px 0px 8px;
  }

  .download-submission {
    font-size: 140%;
  }
}

.textareas {
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;

  background-color: #f8f8f8;
  border-left: 2px solid black;
  overflow: auto;

  div.category {
    width: 97%;
    height: 33%;
    text-align: center;
    position: relative;
    margin: 0px auto;
    /*border: 1px solid #0d0;*/
  }

  div.title {
    text-align: left;
    /*background: blue;*/
    height: 4ex;
    position: relative;

    p {
      position: absolute;
      bottom: 1px;
      /*background: yellow;*/
      padding: 0px;
      margin: 0px;
    }
  }

  div.feedback {
    position: absolute;
    top: 4ex;
    bottom: 0px;
    width: 100%;

    div {
      position: relative;
      /*border: 1px solid red;*/
      display: table-cell;
      /*width: 100%;*/
      height: 100%;
    }
  }

  textarea {
    width: 100%;
    height: 98%;
    margin: 0px;
    font-family: sans-serif;
    text-align: left;
    padding: 2px;
    margin-left: -2px;
  }
}

p.feedback-preview {
  width: 700px;
  padding: 1em;
  background: white;
  border: 1px solid black;
  font-family: monospace;
}

/**************************************************************************
 * Rubric editor (teacher view)
 **************************************************************************/

.rubric-editor {
  padding: 0em 0em 1em 0em;

  textarea {
    width: 100%
  }

  .grading-scale input {
    width: 100%;
  }

  div.page-title {
    margin-bottom: 3ex;
  }

  div.criterion-title, div.page-title {
    h2, h3 {
      display: inline;
    }

    h3, .buttons i {
      line-height: 26px;
      vertical-align: middle;
      margin: 0px;
      padding: 0px;
    }

    .buttons {
      margin: 0px 10px;
    }

    .sumRangeSummary {
      color: gray;
      margin-left: 1em;
    }

    .sumRange {
      margin-left: 2em;

      input {
        width: 2em;
        height: 16px;
        font-size: 11px;
        margin: 0px 2px;
      }
    }

    .addInstructions a {
      color: gray;
      font-size: 11px;
      line-height: 26px;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        border-bottom: 1px dotted gray;
      }
    }
  }

  .buttons {
    visibility: hidden;

    i {
      cursor: pointer;
    }
  }

  h2:hover .buttons,
  h3:hover .buttons,
  .criterion:hover .buttons,
  .page-title:hover .buttons,
  tr:hover .buttons {
    visibility: visible;
  }

  .criterion:hover .sumRangeSummary,
  .page-title:hover .sumRangeSummary {
    display: none;
  }

  table.phrases {
    td {
      padding: 1px;
    }

    td.phrase {
      width: auto;
    }

    td.phraseType {
      width: 6em;
      text-align: center;

      input, select {
        width: 5em;
      }
    }
  }

  td.buttons-column {
    width: 80px;
    text-align: center;
  }

  input.invalid {
    background: #faa;
  }
}

.ui-effects-transfer {
  border: 2px dotted gray;
}

.dropHover {
  background: #ff8;
  border: 1px solid red;
}

/**************
 * Assignments
 **************/

.assignments {

  .submission td {
    border: 1px solid #808080;
    padding: .2em .5em;
  }

  .group {
    border: 1px solid #808080;
    background: #e0e0e0;
  }

  td.grade {
    text-align: center;
  }

  .late, .late a {
    color: red;
    font-weight: bold;
  }

  .spacer {
  }

}

.collaborative-assignments {
  h3 {
    margin: 0em 0em 0em 0em;
  }

  .submission-thumbnail {
    margin: 0em 1em 0em 0em;
  }

  ul {
    margin-left: 1em;
  }

  img {
    margin: 0px;
  }

  ul.reviews {
    display: inline;
    margin: 0px;
    padding: 0px;

    li {
      display: inline;
      margin: 0em 0.5em;
    }
  }
}

pre.payload {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#exercise-manager-frontpage {
  td {
    padding-bottom: 2em;
  }
  td:first-child {
    font-weight: bold;
    padding-right: 2em;
  }
}

/**************************************************************************
 * Submit form (student's view)
 **************************************************************************/

#submit-form {
  table.submissions {
    td {
      padding-right: 1em;
      padding-bottom: 1ex;
    }
  }

  .row {
    margin-top: 2em;
  }

  .row:first-child {
    margin-top: 0em;
  }
}

/******************
 * Error messages
 ******************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size: 90%;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

table.hover-buttons {

  div.hover-buttons {
    visibility: hidden;
  }

  tr:hover {
    td {
      visibility: visible; /* Needed to work around a chrome bug (Create review buttons don't appear). Try removing this in the future. */
      div.hover-buttons {
        visibility: visible;
      }
    }
  }
}

/*
div.hover-buttons {
  visibility: hidden;
  margin-left: 1em;
}

tr:hover div.hover-buttons {
  visibility: visible;
}
*/

/******************
 * Footer
 ******************/

.footer {
  /*text-align: center;*/
  padding: 30px 0px;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;

  p {
    color: #777;
  }
}

body {
  #review-rating {
    .btn-rating-icon:not([disabled]):hover {
      padding: 2px 10px;
      font-size: 11.9px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
