/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require jquery.ui.datepicker
 *= require_self
 *= require theme

 * // require_tree .
 */

div.clear {
  clear: both;
}

.busy {
  background: image_url("ajax-loader.gif") no-repeat center center;
}

.hint {
  font-size: small;
  color: gray;
  font-style: italic;
}

/*
.bold {
  font-weight: bold;
}

span.warning {
  color: red;
}

span.error {
  color: red;
}

a.warning {
  color: red;
}

a.inactive {
  color: gray;
}

a.inactive:visited {
  color: gray;
}

ul.sparse li {
  margin-bottom: 1em;
}

p.narrow, div.narrow {
  width: 800px;
}

.sessions-login-method {
  width: 800px;
  margin-bottom: 5em;
}

.sessions-login-box {
  float: left;
  border: 2px solid #aaa;
  padding: 16px;
  font-size: small;
  color: gray;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
*/


/******************
 * Headings
 ******************/

/*
h1 {
  font-size: 130%;
  color: #cc1414;
  padding-top: 0px;
  margin-top: 0px;
}

h1 a {
  font-size: .7em;
  font-weight: normal;
  font-variant: small-caps;
}

h2 {
  font-size: 100%;
  margin-top: 3em;
  color: black;
}

h1:first-child, h2:first-child, h3:first-child, h1 + h2, h1 + h3, h2 + h3 {
  padding-top: 0px;
  margin-top: 0px;
}



h3 {
  font-size: 100%;
}

h1 .hint, h2 .hint, h3 .hint {
  font-size: small;
  font-weight: normal;
  color: gray;
}
*/

/******************
 * Help box
 ******************/

/*
#contextHelp {
  float: right;
  width: 15em;
  background: #f7f7f7;
  color: black;
  border: 1px solid #808080;
  margin: 0em 1em 1em 1em;
  padding: .5em;
  font-size: .9em;
}

#contextHelp h1 {
  margin-top: 0em;
  font-size: 1.1em;
  color: #cc1414;
}
*/


/******************
 * Tables
 ******************/

/*
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td {
  padding: 2px;
  vertical-align: top;
}

thead {
  font-style: italic;
  background: #fff0f0;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
}

thead td {
  line-height: 24px;
  padding: 0px 4px;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
}

table.histogram {
  float: left;
  margin: 0em 2em 2em 0em;
  border: 1px solid gray;
}

table.histogram td {
  padding: .1em .5em;
}
*/

/******************
 * Frontpage
 ******************/

#frontpage-intro {
  margin-bottom: 3em;
}



/***********************************
 * Feedback editor (assistant view)
 ***********************************/

.rubric table.phrases, .rubric-editor .add-phrase {
  /*font-size: .8em;*/
}

.rubric select {
  margin: 0px;
}

.rubric table.phrases {
  background: #F8F8F8;
  width: 100%;
  margin: 0em 0em 0em 0em;
}

.rubric div.criterion {
  margin: 0em 0em 1em 0em;
}

.rubric .phrases td {
  border: 1px solid gray;
  cursor: pointer;
  padding: 4px;
}

/*.rubric .phrases td:hover {
  background: #F0F0FF;
}*/

/*
.rubric h3 {
  float: left;
  margin: 0em 2em 2px 0em;
  cursor: pointer;
}
*/

.rubric .grading-options {
  margin: 0px 0px 2px 0px;
  padding: 0px;
  float: right;
  position: relative;
}

.rubric .grading-options ul {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

.rubric .grading-options li {
  display: block;
  cursor: pointer;
  float: left;
  background: #fff0f0;
  -moz-border-radius: 6px;
  border: 1px solid #c0c0c0;
  padding: 2px;
  margin: 2px;
}

.rubric .grading-options img {
  margin: 4px;
}

.rubric .grading-options li:hover {
  background: #ffe0e0;
}

.rubric .grading-options li.selected {
  border: 2px solid #f00000;
  padding: 1px;
}

.rubric .criterion-grade-buttons {
  display: none;
  position: absolute;
  top: -1em;
  margin: 0px;
  padding: 0px;
}

.rubric li:hover .criterion-grade-buttons {
  display: block;
}

.rubric td.Good:hover {
  background: image-url("fbgood.png") right repeat-y;
}
.rubric td.Bad:hover {
  background: image-url("fbbad.png") right repeat-y;
}
.rubric td.Neutral:hover {
  background: image-url("fbneutral.png") right repeat-y;
}

.rubric .grade {
  font-size: 150%;
  font-weight: bold;
}

.review-editor {
  width: 69%;
}


.textareas {
  width: 30%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;

  background-color: #f8f8f8;
  border-left: 2px solid black;
  overflow: scroll;
}

.textareas div {
  width: 100%;
  height: 33%;
  text-align: center;
}

.textareas p {
  text-align: left;
  margin: 0px 5px;
}

.textareas textarea {
  width: 95%;
  height: 85%;
  font-family: sans-serif;
  text-align: left;
  /*font-size: .8em;*/
}

.rubricmenu {
  margin-bottom: 2em;
  /*font-size: .9em;*/
}

.rubricmenu tr.selected {
  /*border: 1px solid #FF8080;*/
  border: 1px solid #f00000;
  /*background: #f0e0e0;*/
}

.rubricmenu td.selected {
  font-weight: bold;
}

.rubricmenu td {
  padding-right: 1em;
}

.rubricmenu .status {
  /*font-size: .8em;*/
  font-variant: small-caps;
}

.rubricmenu .section-name {
  padding-left: 1em;
}

.rubricmenu .not-started {
  color: red;
}

.rubricmenu .started {
  color: #A0A000;
}

.rubricmenu .finished {
  color: green;
}

.rubricmenu .mailed {
  color: green;
}


p.feedback-preview {
  width: 700px;
  padding: 1em;
  background: white;
  border: 1px solid black;
  font-family: monospace;
}


/**************************************************************************
 * Rubric editor (teacher view)
 **************************************************************************/

.rubric-editor {
  padding: 0em 0em;
}

.rubric-editor .weight {
  /*font-size: small;*/
  color: black;
}

.rubric-editor .buttons i {
  cursor: pointer;
}

.rubric-editor .buttons,
.rubric-editor .criterion .create-phrase-button
{
  visibility: hidden;
}

.rubric-editor .page h2:hover .buttons,
.rubric-editor .criterion:hover .buttons
{
  visibility: visible;
}


.rubric-editor td.buttons-column {
  width: 80px;
  text-align: center;
}

.rubric-editor textarea {
  width: 100%
}

.rubric-editor .category {
  border: 1px solid gray;
  -moz-border-radius: 1em;
  background: #ffebeb;
  margin: 1em 0em 2em 0em;
  padding: 1em;
}

.rubric-editor .category h1 {
  font-size: 140%;
  margin: .5em 0em .5em 0em;
  font-weight: normal;
}

.rubric-editor .category h1 span {
  cursor: pointer;
}

.rubric-editor .section {
  margin: 0em 0em 3em 0em;
  padding: 0em 1em;

  border: 1px solid gray;
  -moz-border-radius: .5em;
  background: white;
}

.rubric-editor .section h2 {
  font-size: 120%;
  font-weight: normal;
  border-bottom: 1px solid #cc1414;
  color: #cc1414;
  margin: .5em 0px 1em 0em;
}

.rubric-editor .section h2 span {
  cursor: pointer;
}

.rubric-editor .item {
  padding: .5em;
  margin: 1em 0em 2em 0em;
  border: 1px solid white;
}

.rubric-editor .item h3 {
  margin-left: 0em;
  margin-bottom: .5em;
  margin-top: 0em;
}

.rubric-editor .item h3 span {
  cursor: pointer;
}

.rubric-editor .item .buttons {
  visibility: hidden;
}

.rubric-editor .item:hover {
  border: 1px dotted navy;
}

.rubric-editor .item:hover .buttons {
  visibility: visible;
}

.rubric-editor .item .grading-options {
  margin-top: 1em;
  /*font-size: .9em;*/
}

.rubric-editor .itemGradingOption {
  cursor: pointer;
}

.rubric-editor .section-grading-options {
  margin: 2em 1em 1em 0em;
  padding: 0em;
}


.rubric-editor .section-grading-options table {
  border-bottom: 1px solid #808080;
}

.rubric-editor .section-grading-options td {
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  padding: .1em .5em;
}

.rubric-editor .section-grading-options .points {
  text-align: center;
}

.rubric-editor .section-grading-options h3 {
  margin-top: 0em;
}

.rubric-editor .section-grading-options span {
  cursor: pointer;
}

.rubric-editor table.phrases {
  width: 100%;
  background: #f8f8f8;
  border: 1px solid #808080;
}

.rubric-editor .phrases td {
  border-bottom: 1px solid #808080;
  border-right: none;
  border-left: none;
  padding: 1px;
}

.rubric-editor td.phraseType {
  width: 6em;
  text-align: center;
}

.rubric-editor select.phraseType {
  width: 5em;
}

.rubric-editor td.type-selection {
  width: 100px;
}


/**************
 * Assignments
 **************/

.assignments .submission td {
  border: 1px solid #808080;
  padding: .2em .5em;
}

.assignments .group {
  border: 1px solid #808080;
  background: #e0e0e0;
}

.assignments td.grade {
  text-align: center;
}

.assignments .late, .assignments .late a {
  color: red;
  font-weight: bold;
}

.assignments .spacer {
}


/******************
 * Error messages
 ******************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/*
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  text-align: center;
  z-index: 1000;
  background: image-url("transparency.png");
}


#overlay div {
  width: 50%;
  margin: 100px auto;
  background: white;
  border: 2px solid black;
  padding: 1em;
}
*/

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
