body {
  color: #777;
}

strong {
  color: #444;
}

h1 {
  color: black;
}

li {
  margin-bottom: 1ex;
}

.signup {
  /*
  background: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  */
  margin: 15ex 0ex 2ex 0ex;
}

.carousel {
  margin-top: 3ex;
}

.carousel-control {
  &.left {
    background-image: none;
  }
  &.right {
    background-image: none;
  }
}

.demo-button {
  margin-top: 1ex 0ex;
}
