/*
.helpcolumn {
  border-left: 1px solid gray;
}
*/

/* Bootstrap navbar tweaks */
.navbar, .navbar-inner {
  background: #eee image-url("navbar.png") repeat-x;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)" !important;
  border: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.navbar {
  color: white;
  
  .text-input {
    width: 15em;
  }
  
  .btn {
    margin: 0;
  }
  
  .brand {
    color: white;
    text-shadow: 0 1px 0 #000;
  }

  a.brand {
    margin: 0px;
    padding: 5px 0 0 0;
  }
  
  img {
    /*margin: 5px;*/
    padding: 0px;
  }
  
  .divider-vertical {
    border-left: 1px solid #c33;
    border-right: none;
  }

  .nav > li > a {
    color: #fff;
    text-shadow: none;
  }

  .nav > li > a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.navbar-brand {
  padding: 5px 5px 5px 20px;
}

.navbar-link, .navbar-text {
  color: #fff;
}


table.pricing {
  width: auto;
  
  th {
    padding: 1em;
    text-align: center;
    font-size: 400%;
  }
  
  td {
    width: 4em;
    padding: 2em 1em;
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
  }
  
  td:first-child {
    width: 2em;
    text-align: right;
    font-size: 100%;
  }
}