<!-- reviews/upload.html.erb -->

<div class="page-header">
  <h1>Upload feedback</h1>
</div>

<%= form_tag upload_review_path, :multipart => true do %>
  <p><%= file_field_tag :file %></p>
  <p><%= submit_tag 'Upload', {:class => 'btn btn-primary'} %></p>
<% end %>

<%= link_to 'Back', edit_review_path(@review) %>
