<!-- exercises/show.html.erb -->

<h2>1. Receive submissions</h2>

<p>
  Publish this link on the homepage of the course:<br />
  <%= link_to submit_url(@exercise.id), submit_url(@exercise.id) %>
</p>

<p>
<strong><%= @course_instance.groups.size %></strong> groups<br />
<strong>N</strong> groups have submitted
</p>


<h2>2. Assign reviewers</h2>


<h2>3. Review</h2>

<p>N of M submissions have been reviewed</p>


<h2>4. Send feedback to students</h2>




<h2>5. Results</h2>

