<% if flash[:warning] || flash[:success] || flash[:error] %>
  <!-- Flash messages -->
  <div class="row">
    <div class="col-sm-12">
      <% if flash[:warning] %>
        <div class="alert"><%= flash[:warning] %></div>
      <% end %>

      <% if flash[:success] %>
        <div class="alert alert-success"><%= flash[:success] %></div>
      <% end %>

      <% if flash[:error] %>
        <div class="alert alert-error"><%= flash[:error] %></div>
      <% end %>
    </div>
  </div>
<% end %>
